# EmailJS (free) – contact form emails
# Get these from https://dashboard.emailjs.com/
VITE_EMAILJS_PUBLIC_KEY=0G2XhLvkuIdyCQh-T
VITE_EMAILJS_SERVICE_ID=service_p27wo44
VITE_EMAILJS_TEMPLATE_ID=template_hbeyl4c
